* {
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
 
}

$color--bg:#1f2937;

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}