* {
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
 
}

$color--secondry:#1f2937;
$color--primary: #f9faf8;
$color--primary-light: #e5e7eb;
$color--btn: #3882f6;

$transition-main: all .4s ease-in-out;


.container {
    width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

