* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

main {
  background-color: #1f2937;
}

.hero {
  height: 400px;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.hero .hero-left {
  color: #f9faf8;
}
.hero .hero-left h1 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 1rem;
}
.hero .hero-left p {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.hero .hero-left .btn {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
.hero .hero-left .btn a {
  width: 100%;
  text-align: center;
}
.hero .hero-left .btn:hover {
  transform: scale(1.1);
}
.hero .hero-right img {
  max-width: 300px;
  border-radius: 5px;
}

header {
  background-color: #1f2937;
  width: 100%;
  height: 60px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  color: #f9faf8;
}

.links {
  display: flex;
  height: 60px;
  color: #e5e7eb;
}
.links li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}
.links li a {
  font-weight: 300;
}
.links li:hover {
  background-color: #1f4060;
  transition: all 0.4s ease-in-out;
}

.info {
  background-color: #f9faf8;
  padding: 50px 0;
  text-align: center;
}

.info-box {
  display: flex;
  flex-direction: column;
}
.info-box h3 {
  color: #1f2937;
  font-size: 24px;
}
.info-box .cards {
  display: flex;
  align-items: flex-start;
}
.info-box .cards .card {
  width: 200;
  padding: 20px;
}
.info-box .cards .card .img-container {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.info-box .cards .card .img-container img {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}
.info-box .cards .card .img-container img:hover {
  transform: scale(1.1);
}
.info-box .cards .card p {
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
}

.quote-section {
  background-color: #e5e7eb;
  height: 400px;
}
.quote-section .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.quote-section .container .quote {
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
}
.quote-section .container .signature {
  align-self: flex-end;
  font-weight: 900;
}

footer {
  height: 250px;
  padding: 80px;
}
footer .cta-card {
  background-color: #3882f6;
  border-radius: 5px;
  height: 110px;
  padding: 0 40px;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
footer .cta-card .cta-card--left {
  flex: 3;
}
footer .cta-card .cta-card--left h3 {
  font-weight: 900;
}
footer .cta-card .cta-card--left p {
  font-weight: 300;
}
footer .cta-card .cta-card--right {
  flex: 1;
}
footer .cta-card .cta-card--right .btn {
  width: 120px;
  height: 35px;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 5px;
  margin: auto;
  transition: all 0.4s ease-in-out;
}
footer .cta-card .cta-card--right .btn a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .cta-card .cta-card--right .btn:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=main.css.map */